<% provide(:title, 'Reset password') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 jumbotron">
    <h2>Reset password</h2>
    <%= form_with(model: @user, url: password_reset_path(params[:id]), local: true) do |f| %>
      <%= render 'shared/error_messages', object: @user %>

      <%= hidden_field_tag :email, @user.email %>
      <!-- email-ul e hidden ca sa nu se vada, dar sa se trimita odata cu formularul, sa stii cui sa modifici parola -->
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Update password", class: "btn btn-primary btn-dark" %>
    <% end %>
  </div>
</div>