<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- partea cu meta name="viewport" te lasa sa schimbi intre modurile de desktop si mobile-->
    <%= render "layouts/rails_default"  %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%flash.each do |message_type, message| %>
        <div class = "alert alert-<%= message_type %>">
          <%= message %>
        </div>
        <!-- echivalent cu  <%= content_tag(:div, message, class: "alert alert-#{ message_type }") %> -->
      <% end %>
      <%= yield %>   <!--Insereaza continutul fiecarei pagini in layout-->
    </div>
    <%= debug(params) if Rails.env.development? %> <!-- Restrictioneaza informatiile de debug in environmentul de development, sa nu apara la useri-->
  </body>
</html>